{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as utils %}

{% block title %}JIRA Hotdesk{% endblock %}


{% block head %}
{{super()}}
    {{fixes.ie8()}}
{% endblock %}

{% block styles %}
{{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='base_style.css') }}">
{% endblock %}

<body {% block body_attribs %} data-root="{{ url_for('.search_ldap_user') }}" {% endblock body_attribs %}  >
{% block body  %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src={{ url_for('profile.static', filename = 'ldap_form.js') }} ></script>
    <script type="text/javascript" src={{ url_for('profile.static', filename='drop_down.js') }} ></script>
    <script type="text/javascript" src={{ url_for('profile.static', filename='validate.js') }} ></script>
    <script type="text/javascript"> set_sr_cat({{ sr_all|safe|tojson }}) </script>
{% endblock %}
    {% block content %}
        {% endblock %}
{% endblock body %}
</body>



