
{% block content %}
    <h2> Search user: </h2>

    <div>
        <input type="text" id="user_search" placeholder="Search user...">
        <a id="ldap_search" href="#">&#128269;</a>
    </div>

    <p id="result"> </p>

    <div class="dropdown">

        <button class="btn btn-default dropdown-toggle" type="button" id="search_ad_results" data-toggle="dropdown">
            Results
        <span class="caret"></span></button>
        <span class="ldap_search_info hidden" id="ldap_search_info"></span>
        <ul class="dropdown-menu hidden" id="ldap_results">

        </ul>
    </div>
        <div id="ldap_user_info">
        {% for element in attr %}
            <div class="row">
                <div class="col-md-3">
                    <label>{{ attr[element] }}</label>
                </div>
                <div class="col-md-4">
                    <input id={{ element }} class="text-left">
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock %}
