{% extends 'base_create_ticket.html' %}
{% import "bootstrap/utils.html" as utils %}

{% block content %}
    <div class="modal-body row">
        <div class="col-md-7">
            <div class="jumbotron">
                <div class="container-fluid">

<p>{{ form_project }} {{ form_issuetype }}</p>
        <p>{{ form_title }}</p>

        <form action="" method="post" name="create_template">
            <fieldset><div class="form-group">
                {% for field in form if field.name != "customfield_11603_child" %}
                    {% if field.type in ['CSRFTokenField', 'HiddenField'] %} {{ field() }}
                    {% else %}
                        <p>{% if field.flags.required %}*{% endif %}

                            {{ field.label }} {{ field() }}
                            {% if field.name == "customfield_11603"%}
                                <span>{{ form['customfield_11603_child'] }}</span>
                            {% endif %}

                        {% if field.errors or field.help_text %}
                        <span class="help-inline">
                            {% if field.errors %}
                                {{ field.errors|join(' ') }}
                            {% else %}
                                {{ field.help_text }}
                            {% endif %}
                        </span>
                        {% endif %}
                        </p>
                    {% endif %}
                {% endfor %}

            </div>
        <button type="submit">Create ticket</button>
    </fieldset>
    </form>
                    </div>
            </div>
        </div>

           <div class="col-md-5">
            <div class="jumbotron">
                <div class="container-fluid">
                    {% include "ldap_search.html" %}
                </div>
            </div>
        </div>

{% endblock %}
